{% extends 'base.html' %} 

{% block title %}Pricing {% endblock %} 

{% block content%}
<div class="container mb-4">
    <h2 class="text-center my-4">Pricing Plans</h2>
    <div class="row">
        <div class=card>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-12 col-md-6 col-lg-5 mx-auto my-4">
                        <div class="card">
                            <div class="card-header text-center my-2">
                                <h3>Personal</h3>
                            </div>
                            <div class="card-body text-center">
                                <p class="text-center">
                                    <a href="{% url 'home_page' %}" class="btn btn-success">Get Started!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 mx-auto my-4">
                        <div class="card">
                            <div class="card-header text-center my-2">
                                <h3>Commercial</h3>
                            </div>
                            <div class="card-body text-center">
                                <p class="text-center">
                                    <a href="mailto:akash@blabber.xyz" class="btn btn-primary">Contact Me!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center my-4">Need Help?</h2>
        <div class=card>
            <div class="card-body">            
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-5 mx-auto my-4">
                        <div class="card">
                            <div class="card-header text-center my-2">
                                <h4>GitHub Page:</h4>
                            </div>
                            <div class="card-body text-center">
                                <a href="{{github_link}}" class="btn btn-warning">Visit!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 mx-auto my-4">
                        <div class="card">
                            <div class="card-header text-center my-2">
                                <h4>Discord Server:</h4>
                            </div>
                            <div class="card-body text-center">
                                <a href="{{discord_link}}" class="btn btn-success">Join!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
